:root {
  --ds-surface: #f1f2f4;
  --ds-surface-raised: #ffffff;
  --ds-surface-overlay: #ffffff;
  --ds-border: #091e4224;
  --ds-text: #172b4d;
  --ds-text-subtle: #44546f;
  --ds-link: #0c66e4;
  --ds-background-neutral: #091e420f;
  --ds-background-neutral-hovered: #091e4224;
  --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --primary-color: #0c66e4;
  --primary-hover: #0052cc;
  --danger-color: #c9372c;
  --success-color: #1f845a;
  --column-width: 300px;
}
